.arrow-down {
    display: none;
}

.hide-desktop {
    display: none !important;
}

@media (max-width: 991px) {
    header {
        font-size: 0.8em;
    }

    .arrow-right {
        display: none;
    }

    .arrow-down {
        display: initial;
    }

    .arrow-container {
        padding: 60px 0;
    }

    .arrow-curved {
       display: none;
    }

    .column {
        margin-bottom: 80px;
    }

    .howitworks .row {
        margin-bottom: 0 !important;
    }    

    .hide-mobile {
        display: none !important;
    }
    
    .hide-desktop {
        display: inherit !important;
    }

    .howitworks .arrow {
        width: 100px;
        transform: rotate(90deg);
        position: static;
    }

    .watchaclass {
        margin-top: 40px;
    }

    section {
        padding: 40px 0 40px 0;
    }

    .howitworks .card {
        padding-left: 25px;
        padding-right: 25px;
    }

    .howitworks .icon {
        left: 90%;
        top: 75%;
    }
    
    .howitworks .icon.left {
        left: -15%;
        top: 40%;
    }

    .icon {
        width: 50px;
    }
}